<div class="main">
  <h1>WHAT TIME ARE YOU?</h1>
  <h2>11.09 — 06.10</h2>
  <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным. Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
  <%= link_to "Подробнее", exhibition_path(3) %>
</div>

<div class="grid">
  <% Exhibition.all.sample(5).each do |ex| %>
    <%= link_to exhibition_path(ex) do %>
      <h1><%=ex.name%></h1>
      <p><%=ex.about%></p>
    <% end %>
  <% end %>
